* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
}
#banner-container {
  width: 85%;
  display: flex;
  margin: 70px auto 0;
}
.left {
  width: 48%;
  margin-right: 4% 2% 0 0;
}
.right {
  width: 48%;
  margin-left: 2%;
}
.main-title {
  font-family: "Yeseva One", cursive;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  border-left: 4px solid #ff5959;
  padding-left: 13px;
  margin-bottom: 15px;
}
.title-another-color {
  color: #ffad5a;
}
.banner-description {
  font-size: 18px;
  line-height: 28px;
  color: #3e3e3e;
}
.btn {
  display: inline-block;
  margin-top: 19px;
  text-decoration: none;
  background-color: #ff5959;
  padding: 12px 37px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #ff5959;
  border-radius: 5px;
}
.btn:hover {
  color: #ff5959;
  background-color: #fff;
}
.scroll-text {
  margin-top: 33px;
}
.dev-img {
  width: 380px;
  display: block;
  margin: auto;
}
#my-mission-container {
  width: 85%;
  margin: 62px auto 0;
}
.my-mission-title {
  width: 100%;
  margin: auto;
}
.my-mission-title h2 {
  text-align: center;
  color: #13103a;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
}
.my-mission-description {
  display: flex;
  margin: 48px auto 0;
}
.three-col {
  width: 32%;
  margin-right: 2%;
}
.three-col:last-child {
  margin-right: 0;
}
.mission {
  padding: 45px 32px;
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 26px;
}
.mission-icon {
  width: 141px;
  height: 141px;
}
.item-description {
  margin-top: 12px;
}
.item-description h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #000;
  margin-bottom: 16px;
}
.item-description p {
  color: #424242;
}
.vission {
  padding: 45px 32px;
  background-color: rgba(255, 89, 89, 0.1);
  border-radius: 26px;
}
.goal {
  padding: 45px 32px;
  background-color: #fff4d6;
  border-radius: 26px;
}
#first-story-container,
#second-story-container {
  width: 85%;
  margin: 86px auto 0;
  display: flex;
}
.story-left {
  width: 39%;
  margin-right: 1%;
}
.story-right {
  width: 59%;
  margin-left: 1%;
  padding-top: 20px;
}
#second-story-container .story-left {
  width: 59%;
  margin-right: 1%;
  padding-top: 20px;
}
#second-story-container .story-right {
  width: 39%;
  margin-left: 1%;
}
.story-img {
  width: 400px;
}
.story-title {
  color: #333333;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  margin-bottom: 17px;
}
