* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
}
#banner-container {
  width: 85%;
  display: flex;
  margin: 60px auto 0;
}
.left {
  width: 48%;
  margin-right: 2%;
  padding-top: 6%;
}
.right {
  width: 48%;
  margin-left: 2%;
}
.title {
  padding-left: 13px;
  margin-bottom: 19px;
  border-left: 4px solid #ff5959;
  line-height: 44px;
}
.title h1 {
  font-family: "Yeseva One", cursive;
  font-weight: normal;
  font-size: 60px;
}
.title h1:last-child {
  margin-top: 34px;
}
.title-another-color {
  color: #ffad5a;
}
.banner-description {
  font-size: 18px;
  line-height: 28px;
  color: #3e3e3e;
}
.btn {
  display: inline-block;
  margin-top: 19px;
  text-decoration: none;
  background-color: #ff5959;
  padding: 12px 37px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #ff5959;
  border-radius: 5px;
}
.btn:hover,
.contact-form input[type="submit"]:hover {
  color: #ff5959;
  background-color: #fff;
}
.scroll-text {
  margin-top: 33px;
}
.dev-img {
  width: 410px;
  display: block;
  margin: auto;
}
#my-mission-container {
  width: 85%;
  margin: 62px auto 0;
}
.my-mission-title {
  width: 100%;
  margin: auto;
}
.my-mission-title h2 {
  text-align: center;
  color: #13103a;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
}
.my-mission-description,
.contact {
  display: flex;
  margin: 45px auto 0;
}
.three-col {
  width: 32%;
  margin-right: 2%;
}
.three-col:last-child {
  margin-right: 0;
}
.mission {
  padding: 45px 32px;
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 26px;
}
.mission-icon {
  width: 141px;
  height: 141px;
}
.item-description {
  margin-top: 12px;
}
.item-description h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #000;
  margin-bottom: 16px;
}
.item-description p {
  color: #424242;
}
.vission {
  padding: 45px 32px;
  background-color: rgba(255, 89, 89, 0.1);
  border-radius: 26px;
}
.goal {
  padding: 45px 32px;
  background-color: #fff4d6;
  border-radius: 26px;
}
#first-story-container,
#second-story-container {
  width: 85%;
  margin: 86px auto 0;
  display: flex;
}
.story-img-container,
.contact-img {
  width: 39%;
  margin-right: 1%;
}
.story-text-container,
.contact-form {
  width: 59%;
  margin-left: 1%;
  padding-top: 4%;
}
#second-story-container .story-text-container {
  width: 59%;
  margin-right: 1%;
  padding-top: 4%;
}
#second-story-container .story-img-container {
  width: 39%;
  margin-left: 1%;
}
.story-img {
  width: 450px;
}
.story-text-container h3,
.footer-text h3 {
  color: #333333;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  margin-bottom: 17px;
}
#contact-container {
  width: 85%;
  margin: 80px auto 0;
}
.contact-img img {
  width: 500px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  padding: 12px 5px;
  margin-bottom: 28px;
  display: inline-block;
  font-family: poppins;
  font-size: 16px;
  color: #0b0d17;
  border: none;
  border-bottom: 1px solid #0b0d17;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  width: 40%;
  margin-right: 8%;
}
.contact-form textarea {
  width: 90%;
}
.contact-form input[type="submit"] {
  background-color: #ff5959;
  padding: 12px 37px;
  font-size: 16px;
  font-family: poppins;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #ff5959;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  padding: 3% 0;
  margin-top: 86px;
  background-color: #0b0d17;
}
.footer-text {
  color: #fff;
  text-align: center;
}
.footer-text p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}
.footer-text h3 {
  font-family: "Lobster", cursive;
  color: #fff;
}
.footer-text h3 span {
  color: #ff5959;
}
